/* 
### Primary

- Light red (CTA text): hsl(356, 100%, 66%)
- Very light red (CTA hover background): hsl(355, 100%, 74%)
- Very dark blue (headings): hsl(208, 49%, 24%)

### Neutral

- White (text): hsl(0, 0%, 100%)
- Grayish blue (footer text): hsl(240, 2%, 79%)
- Very dark grayish blue (body copy): hsl(207, 13%, 34%)
- Very dark black blue (footer background): hsl(240, 10%, 16%)

### Gradient

Background gradient - Intro/CTA mobile nav:

- Very light red: hsl(13, 100%, 72%)
- Light red: hsl(353, 100%, 62%)

Background gradient - body:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)
*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
body{
    /* primary */
    --light-red: hsl(356, 100%, 66%); 
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
    /* gradient */
    --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
    --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
    --gradient-very-light-red: hsl(13, 100%, 72%);
    --gradient-light-red: hsl(353, 100%, 62%);
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Overpass', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

main{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
}

footer{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
}

header{
    background: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(to right, hsl(13, 100%, 72%),hsl(353, 100%, 62%)) no-repeat;
    background-position: 35% 40%;
    text-align: center;
    height: 35em;
    padding: 3em 1em;
    border-bottom-left-radius: 6em;
}

.desktop-navbar{
    display: none;
}

a{
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.815);
    font-weight: 500;
}

.dropdown-menu{
    padding: 1em;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active{ 
    color:hsl(240, 10%, 16%);
    font-weight: 700;
    text-decoration: none;
    background: none;
}

.btn-signup:hover, .btn-signup:focus, .btn-signup:active, .btn-start:hover, .btn-start:focus, .btn-start:active{
    background: hsla(0, 0%, 100%, 0.185);
    color: white;
}

.btn-learn:hover, .btn-learn:focus, .btn-learn:active{
    background: hsla(0, 0%, 100%);
    color: var(--light-red)!important;
}

header a:hover, header a:focus, header a:active{
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}
.dropdown-toggle::after{
    position: relative;
    border:none;
    content: url(../images/icon-arrow-light.svg);
    width: 1em;
    height: 1em;
    top: 4px;
    right: 4px;
}

.dropdown-toggle{
    padding-right: 1em;
}

.hamburger{
    border:none;
    background:none;
}

.btn-login, .btn-learn{
    color:rgba(255, 255, 255, 0.801);
    font-weight: 400;
}

.btn-signup, .btn-start{
    color:var(--light-red);
    font-weight: 700;
    border-radius: 2em;
    padding:.5em 1.5em;
    background: var(--white)
}

.btn-signup{
    background: linear-gradient(to right, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    color: var(--white);
    padding: 1 1.5em;
    margin-bottom: 2em;
}

.btn-login{
    font-weight: 800;
    color: var(--very-dark-grayish-blue)!important;
    margin-bottom: .5em;
}

.btn-start{
    padding:.5em 1em;
    margin-right: 1em;
}

.btn-learn{
    padding:.5em 1em;
    border: 2px solid rgba(255, 255, 255, 0.801);
    border-radius: 2em;
    color:var(--white);
}

.intro-col h1{
    color: var(--white);
    margin-top: 1.5em;
    line-height: 1.5em;
    padding: 0 1.25em;
    font-weight:500;
    text-align: center;
    margin-bottom: .8em;
}

.intro-col p {
    color:rgba(255, 255, 255, 0.801);
    font-weight: 400;
    text-align: center;
    margin-bottom: 3em;
    padding: 0 1em;
}

.menu-active{
    content: url("../images/icon-close.svg")!important;
}

#mobile-menu{
    width: 85%;
    float: right;
    margin: 0 auto;
    background: var(--white);
    border-radius: .5em;
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    top: 15%;
    display: flex;
    animation-name: bounceIn;
    animation-duration: .5s;
    box-shadow: 1px 0 10px hsl(240, 0%, 59%);
}

#mobile-menu a{
    color: hsl(240, 10%, 16%);
}

.hidden{
    display: none!important;
} 

.accordion{
    padding: 1.5 1.5em;
}
.accordion-item{
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion-button{
    font-weight: 900;
}
.accordion-button:not(.collapsed){
    color: hsl(161, 23%, 32%);
    font-weight: 700;
    background: none;
    box-shadow: none;
}

.collapse, .collapsing{
    width: 90%;
}

hr{
    width: 80%!important;
}
.accordion-body{
    background:hsla(240, 3%, 79%, 0.274)!important;
    padding: 1em;
    width: 100%;
    border-radius: .5em;
    margin-bottom: 1.5em;
}

.accordion-button::after{
    background-image: url(../images/icon-arrow-dark.svg);
    margin-left: 1em;
    background-size: .8em;
    background-position-y: 5px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/icon-arrow-dark.svg);
    margin-left: 1em;
    background-size: .8em;
    background-position-y: 5px;
}

#mobile-menu a:active{
    background: hsla(240, 3%, 79%, 0.274);
}

#first-section, #third-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#first-section h2, #third-section h2{
    padding: 0 .5em;
    color:hsl(208, 49%, 24%);
    margin-top:2em;
    font-weight: 700;
}

#first-section h1, #third-section h1{
    color:hsl(208, 49%, 24%);
    font-weight: 700;
}
#first-section p, #third-section p{
    color:hsl(208, 49%, 24%);
    font-weight: 300;
    font-size: 1.01em;
    padding: 0 0em;
    margin-top:1em;
}


.second-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#first-section{
    text-align: center;
    padding: 20% 8%;
}


#second-section{
    height: auto;
    background: url("../images/bg-pattern-circles.svg"), linear-gradient(to right, hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-position: 50% 125%;
    border-bottom-left-radius: 6em;
    border-top-right-radius: 6em;
    padding-bottom: 4em;
    margin-top: 12em;
}

#second-section img{
    margin-top: -12em;
}

#second-section h1{
    color: white;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 0 1em;
    text-align: center;
}

#second-section p{
    color: white;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 5vw;
    text-align: center;
}



#third-section{
    padding: 2em 2em;
}

footer{
    text-align: center;
    background-color: hsl(240, 10%, 16%);
    padding: 4em 0;
    border-top-right-radius: 6em;
}

footer img{
    margin-bottom: 3em;
}

footer p{
    color: white;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 0 1.5em;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    color: rgb(197, 197, 197);
    margin-bottom: .5em;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}



@media screen and (min-width: 768px){
    .desktop-navbar{
        display: flex;
    }

    .mobile-navbar-btn{
        display: none!important;
    }

    header{
        background: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%),hsl(353, 100%, 62%)) no-repeat;
        background-position: 25% 52%;
        text-align: center;
        height: 40em;
        padding-top: 3em;
        border-bottom-left-radius: 6em;
    }
        
    .btn-login, .btn-learn{
        color:rgba(255, 255, 255, 0.801)!important;
        font-weight: 600;
    }

    .btn-login{
        margin-top: 0;
    }

    .btn-signup, .btn-start{
        color:var(--light-red);
        font-weight: 700;
        border-radius: 2em;
        padding:.5em 1.5em;
        background: var(--white)
    }

    #mobile-menu{
        display: none;
    }

    #first-section, #third-section{
        text-align: left;
        padding: 10% 8%;
        position: relative;
    }

    #third-section{
        padding: 20% 8% 10% 8%;
        position: relative;
    }

    #first-section img{
        margin-top: -29%;
        margin-left: 19%;
        max-width: 60vw;
    }

    #third-section img{
        margin-top: -35%;
        margin-left: -82%;
        max-width: 64vw;
        content: url("../images/illustration-laptop-desktop.svg");
    }


    #illustration-img{
        content: url("../images/illustration-editor-desktop.svg");
    }

    #first-section p,#third-section p{
        padding: 0 1em;
    }
    #second-section{
        height: 25em;
        margin-top: 2em;
        background: url("../images/bg-pattern-circles.svg"), linear-gradient(to right, hsl(237, 17%, 21%),hsl(237, 23%, 32%));
        background-position: bottom;
        background-repeat: no-repeat;
        background-position: -50% 80%;
    }

    #second-section p{
        padding-left: 6%;
        padding-right: 20%;
        text-align: start;
    }
    #second-section h1{
        text-align: start;
        margin-top: 3em;
        padding-left: 6%;
        padding-right: 7%;
    }

    #second-section img{
        margin-top: -4em;
    } 

    #third-section h2{
        margin-top: 0em;
    }


    footer{
        padding: 4em;
        text-align: left;
    }

    footer p {
        padding:0;
    }
    
    .dropdown:hover{
        text-decoration: underline;
    }


}
    





.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 